.DS_Store
__pycache__

# Common dataset formats
*.csv
*.tsv
*.json
*.xml
*.xls
*.xlsx
*.parquet
*.feather
*.orc
*.avro

# Compressed files (often datasets are compressed)
*.zip
*.gz
*.bz2
*.xz
*.7z
*.tar
*.rar
*.zarr

# data folder
cse151b-spring2025-competition
outputs